{% extends "quiz/base.html" %}
{% block title %}{{ quiz.title }}{% endblock %}

{% block content %}
    <h2>{{ quiz.title }}</h2>
    <ul>
        {% for answer in attempt.answers.all %}
        <div class="mb-3">
            <li>
                {{ answer.question.title }}
                <br>
                {% for option in answer.question.options.all %}
                {% if option.answer %}
                <input type="radio" class="form-check-input" id="{{question.id}}-{{option.id}}" name="{{question.id}}" value="{{option.id}}" checked disabled>
                {% else %}
                <input type="radio" class="form-check-input" id="{{question.id}}-{{option.id}}" name="{{question.id}}" value="{{option.id}}" disabled>
                {% endif %}
                <label for="{{question.id}}-{{option.id}}">{{option.text}}</label><br>
                {% endfor %}
                <br><span>Selected Answer:</span><br>
                <span for="{{answer.question.id}}-{{answer.selected.id}}">{{answer.selected.text}}</span><br>
            </li>
        </div>
        {% endfor %}
    </ul>
{% endblock %}